extends head

mixin miiUploadBox()
    hr.big-space-top(style="border-top: 2px solid rgba(0, 0, 0, 0.1);")
    h5.mb-0.big-space-top Upload A Mii
    input#mii-file(type="file").space-top

mixin miiEntryNumberBox()
    hr.big-space-top(style="border-top: 2px solid rgba(0, 0, 0, 0.1);")
    h5.mb-0.big-space-top CMOC Entry Number
    h6.mb-0.big-space-top Enter a CMOC Entry Number here! It can be entered with or without the spaces.
    input#mii-entrynumber(type="text" name="miinumber" value=jdata.mii_number).space-top

block content
    - var soverlay
    - var guests = {"a": "Guest A","b": "Guest B","c": "Guest C","d": "Guest D","e": "Guest E","f": "Guest F"}
    - var guestList = Object.keys(guests);
    div.big-space-top
        form(method="POST" action="/edit")
            .container
                .row
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Background
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.justify-content-center
                                                .col-12
                                                   select(name="background" id="background").big-space-bottom
                                                        each bg in backgrounds
                                                            if jdata.bg == `img/1200x450/${bg}`
                                                                option(value=`img/1200x450/${bg}` selected=true)= bg
                                                            else
                                                                option(value=`img/1200x450/${bg}` selected=false)= bg
                                            .row.justify-content-center
                                                .col-12
                                                    div.text-center.space-top
                                                        img(src=jdata.bg width="75%" id="background-img" alt="Background Preview").editor
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Overlay
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.justify-content-center
                                                .col-12
                                                    select(name="overlay" id="overlay").big-space-bottom
                                                        each overlay in overlays
                                                            if overlay.enabled
                                                                if jdata.overlay == `overlay${overlay.id}.json`
                                                                    option(value=`overlay${overlay.id}.json` selected=true)= overlay.name
                                                                    - soverlay = overlay
                                                                else
                                                                    option(value=`overlay${overlay.id}.json` selected=false)= overlay.name
                                            .row.justify-content-center
                                                .col-12
                                                    div.text-center.space-top
                                                        img(src=`/img/overlays/${jdata.overlay.replace(".json", "")}.png` width="75%" id="overlay-img" alt="Overlay Preview").editor
                .row
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Flag
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.justify-content-center
                                                .col-12
                                                    select(name="flag" id="flag")
                                                        each v,k in flags
                                                            option(value=k selected=(jdata.region == k))= v
                                            .row.justify-content-center
                                                .col-12
                                                    div.text-center.big-space-top
                                                        img(src=`/flags/${jdata.region}.png` id="flag-img" alt="Flag Preview")
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Coin Icon
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.justify-content-center
                                                .col-12
                                                    select(name="coin" id="coin")
                                                        each v,k in coins
                                                            option(value=k selected=(jdata.coin == k))= v
                                            .row.justify-content-center
                                                .col-12
                                                    - var cimg
                                                    if jdata.coin == "default"
                                                        - cimg = soverlay.coin_icon.img
                                                    else
                                                        - cimg = jdata.coin
                                                    div.text-center.big-space-top
                                                        img(src=`/img/coin/${cimg}.png` id="coin-img" alt="Coin Preview")
                .row
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Personalization
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.justify-content-center
                                                .col-12
                                                    h5.mb-0 Use Discord Profile Picture
                                                    select(name="useavatar" id="useavatar").space-top.space-bottom
                                                        option(value="true" selected=(jdata.useavatar == "true"))= "Yes"
                                                        option(value="false" selected=(jdata.useavatar == "false"))= "No"
                                                    br
                                            .row.justify-content-center
                                                .col-12
                                                    h5.mb-0 Use Mii
                                                    select(name="usemii" id="usemii").space-top.space-bottom
                                                        option(value="true" selected=(jdata.usemii == "true"))= "Yes"
                                                        option(value="false" selected=(jdata.usemii == "false"))= "No"
                                                    br
                                            .row.justify-content-center
                                                .col-12
                                                    h5.mb-0 Font
                                                    - if (!jdata.font) { jdata.font = "default"; }
                                                    select(name="font" id="font").space-top.space-bottom
                                                        each v,k in fonts
                                                            option(value=k selected=(jdata.font == k))= v
                                            .row.justify-content-center
                                                .col-12
                                                    div.text-center.big-space-top
                                                        - var fimg
                                                        if jdata.font == "default"
                                                            - fimg = soverlay.username.font_family
                                                        else
                                                            - fimg = jdata.font
                                                        img(src=`/img/font/${fimg}.png` width="75%" id="font-img" alt="Font Preview")
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Cover Display
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.justify-content-center
                                                .col-12
                                                    h5.mb-0 Cover Type
                                                    select(name="covertype" id="covertype").space-top.big-space-bottom
                                                        each k in covertypes
                                                            option(value=k selected=(jdata.covertype == k))= k
                                                    br
                                                    h5.mb-0 Cover Region
                                                    select(name="coverregion" id="coverregion").space-top.big-space-bottom
                                                        each k in coverregions
                                                            option(value=k selected=(jdata.coverregion == k))= k
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Other Information
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.text-center
                                                .col-12
                                                    h5.mb-0 Nickname
                                                    input(type="text" name="name" value=jdata.name id="nickname").space-top.big-space-bottom
                                                    h5.mb-0 Wii Number
                                                    input(type="text" name="wiinumber" value=jdata.friend_code id="wiinumber").space-top.big-space-bottom
                                                    h5.mb-0 Games
                                                    h6.mb-0 Game IDs should be separated by a semicolon (;). Using a USB Loader allows games to appear automagically.
                                                    input(type="text" name="games" value=jdata.games.join(";") id="games").space-top
                .row
                    .col-md-6
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 Your Mii
                            .card-body
                                span.text-white
                                    div.form-group
                                        .container
                                            .row.text-center
                                                .col-12
                                                    div.alert.alert-danger#mii-error-box.space-bottom(role="alert" style="display: none;")
                                                        b.alert-danger#mii-error-text No error has occurred. Please contact bendevnull#1417 if you see this message.
                                                    div.alert.alert-success#mii-success(role="alert" style="display: none;")
                                                        b.alert-success Your Mii has successfully been uploaded!
                                                    h5.mb-0 Mii Preview
                                                    - var miiImg
                                                    - if (guestList.includes(jdata.mii_data)) { miiImg = `/miis/guests/${jdata.mii_data}.png` } else { miiImg = `http://miicontestp.wii.rc24.xyz/cgi-bin/render.cgi?data=${jdata.mii_data}` }
                                                    img(src=miiImg width="25%" id="mii-img" alt="Mii Preview").no-shadow
                                                    h5.mb-0 Select a Mii
                                                    select.big-space-top.space-bottom#mii-select
                                                        each k,v in guests
                                                            option(value=v selected=(jdata.data == v))= k
                                                        - var guestList = Array.from(Object.keys(guests));
                                                        - var CMOCSelected = jdata.mii_number != "" && !guestList.includes(jdata.mii_data)
                                                        option(value="CMOC" selected=(CMOCSelected)) Use a CMOC Entry Number
                                                        option(value="custom" selected=(customSelected)) Upload Your Own Mii File
                                                    if CMOCSelected
                                                        div#mii-number(style="")
                                                            +miiEntryNumberBox
                                                        div#mii-box(style="display: none;")
                                                            +miiUploadBox
                                                    else if customSelected
                                                        div#mii-number(style="display: none;")
                                                            +miiEntryNumberBox
                                                        div#mii-box(style="")
                                                            +miiUploadBox
                                                    else
                                                        div#mii-number(style="display: none;")
                                                            +miiEntryNumberBox
                                                        div#mii-box(style="display: none;")
                                                            +miiUploadBox
                                                    input#mii-data(type="text" name="miidata" style="display: none;" value=jdata.mii_data)
                .row
                    .col-md-12
                        .card.big-space-bottom
                            .card-header
                                h5.mb-0 RiiTag Private Key
                            .card-body
                                span.text-white
                                    .container
                                        .row.text-center
                                            .col-12
                                                h5.mb-0.text-warning ! WARNING !
                                                h6.mb-0.text-warning This key is NOT to be shared with anyone else. 
                                                //- Doing so may result in a ban from the RiiTag leaderboards
                                                input#keybox(type="password" value=userKey readonly style="width: 75%").big-space-top
                                                br
                                                input#keybutton(type="button" onclick="showPassword(\"keybox\", \"keybutton\")" value="Show Key").btn.btn-danger.big-space-top
            button(type="submit").btn.btn-success.btn-circle.btn-circle-xl.m-1.save-btn
                i.fas.fa-save
    script(src="edit.js")