extends head

block content
    form(method="POST" action="/edit")
        //- textarea(type="text", name="jstring", value=jstring)
        div(class="form-group")
            label(for="background" class="text-white") Backgrounds
            br
            select(name="background" id="background")
                each bg in backgrounds
                    if jdata.bg == `img/1200x450/${bg}`
                        option(value=`img/1200x450/${bg}` selected=true)= bg
                    else
                        option(value=`img/1200x450/${bg}` selected=false)= bg
            br
            img(src=jdata.bg width="50%" id="background-img" alt="Background Preview")
        br
        div(class="form-group")
            label(for="overlay" class="text-white") Overlays
            br
            select(name="overlay" id="overlay")
                each overlay in overlays
                    if overlay.enabled
                        if jdata.overlay == `overlay${overlay.id}.json`
                            option(value=`overlay${overlay.id}.json` selected=true)= overlay.name
                        else
                            option(value=`overlay${overlay.id}.json` selected=false)= overlay.name
            br
            img(src=`/img/overlays/${jdata.overlay.replace(".json", "")}.png` width="50%" id="overlay-img" alt="Overlay Preview")
        br
        div(class="form-group")
            label(for="flag" class="text-white") Flags
            br
            select(name="flag" id="flag")
                each flag in flags
                    if jdata.region == flag
                        option(value=flag selected=true)= flag.name
                    else
                        option(value=flag selected=false)= flag.name
            br
            img(src=`/img/flags/${jdata.region}.png` id="flag-img" alt="Flag Preview")
        div(class="form-group")
            label(for="coin" class="text-white") Coin Icon
            br
            select(name="coin" id="coin")
                each coin in coins
                    if jdata.coin == coin
                        option(value=coin selected=true)= coin.name
                    else
                        option(value=coin selected=false)= coin.name
            br
            img(src=`/img/coin/${jdata.coin}.png` id="coin-img" alt="Coin Preview")
        div(class="form-group")
            label(for="nickname" class="text-white") Nickname
            br
            input(type="text" name="name" value=jdata.name id="nickname")
        br
        div(class="form-group")
            label(for="wiinumber" class="text-white") Wii Number
            br
            input(type="text" name="wiinumber" value=jdata.friend_code id="wiinumber")
        br
        div(class="form-group")
            label(for="games" class="text-white") Games on Tag (game IDs separated by a semicolon, using a USB Loader allows games to show up automatically)
            br
            input(type="text" name="games" value=jdata.games.join(";") id="games")
        br
        input#keybox(type="password" value=userKey readonly)
        input#keybutton(type="button" onclick="showPassword(\"keybox\", \"keybutton\")" value="Show Key", class="btn btn-primary")
        br
        input(type="submit", value="Submit" class="btn btn-primary")
    script(src="edit.js") 
