extends head

block content
    script(src="edit.js") 
    form(method="POST" action="/edit")
        //- textarea(type="text", name="jstring", value=jstring)
        textarea(name="jstring", cols="80", rows="30", readonly)= jstring
        br
        select(name="background")
            each bg in backgrounds
                if jdata.bg == `img/1200x450/${bg}`
                    option(value=`img/1200x450/${bg}` selected=true)= bg
                else
                    option(value=`img/1200x450/${bg}` selected=false)= bg
        br
        select(name="overlay")
            each overlay in overlays
                if overlay.enabled
                    if jdata.overlay == `overlay${overlay.id}.json`
                        option(value=`overlay${overlay.id}.json` selected=true)= overlay.name
                    else
                        option(value=`overlay${overlay.id}.json` selected=false)= overlay.name
        br
        input(type="text" name="name" value=jdata.name)
        br
        input(type="text" name="games" value=jdata.games.join(";"))
        br
        input(type="submit", value="Submit")
        br
        input#keybox(type="password" value=userKey readonly)
        input#keybutton(type="button" onclick="showPassword(\"keybox\", \"keybutton\")" value="Show Key")