extends head

block content
    form(method="POST" action="/edit")
        //- textarea(type="text", name="jstring", value=jstring)
        div(class="form-group")
            label(for="background" class="text-white") Backgrounds
            br
            select(name="background" id="background")
                each bg in backgrounds
                    if jdata.bg == `img/1200x450/${bg}`
                        option(value=`img/1200x450/${bg}` selected=true)= bg
                    else
                        option(value=`img/1200x450/${bg}` selected=false)= bg
            br
            img(src=jdata.bg width="50%" id="background-img" alt="Background Preview")
        br
        div(class="form-group")
            label(for="overlay" class="text-white") Overlays
            br
            select(name="overlay" id="overlay")
                each overlay in overlays
                    if overlay.enabled
                        if jdata.overlay == `overlay${overlay.id}.json`
                            option(value=`overlay${overlay.id}.json` selected=true)= overlay.name
                        else
                            option(value=`overlay${overlay.id}.json` selected=false)= overlay.name
            br
            img(src=`/img/overlays/${jdata.overlay.replace(".json", "")}.png` width="50%" id="overlay-img" alt="Overlay Preview")
        br
        div(class="form-group")
            label(for="flag" class="text-white") Flags
            br
            select(name="flag" id="flag")
                option(value="us") United States
                option(value="gb") United Kingdom
                option(value="af") Afghanistan
                option(value="ax") Åland Islands
                option(value="al") Albania
                option(value="dz") Algeria
                option(value="as") American Samoa
                option(value="ad") Andorra
                option(value="ao") Angola
                option(value="ai") Anguilla
                option(value="aq") Antarctica
                option(value="ag") Antigua and Barbuda
                option(value="ar") Argentina
                option(value="am") Armenia
                option(value="aw") Aruba
                option(value="ac") Ascension Island
                option(value="au") Australia
                option(value="at") Austria
                option(value="az") Azerbaijan
                option(value="bs") Bahamas
                option(value="bh") Bahrain
                option(value="bd") Bangladesh
                option(value="bb") Barbados
                option(value="by") Belarus
                option(value="be") Belgium
                option(value="bz") Belize
                option(value="bj") Benin
                option(value="bm") Bermuda
                option(value="bt") Bhutan
                option(value="bo") Bolivia
                option(value="bq") Bonaire, Sint Eustatius and Saba
                option(value="ba") Bosnia and Herzegovina
                option(value="bw") Botswana
                option(value="br") Brazil
                option(value="io") British Indian Ocean Territory
                option(value="vg") British Virgin Islands
                option(value="bn") Brunei Darussalam
                option(value="bg") Bulgaria
                option(value="bf") Burkina Faso
                option(value="bi") Burundi
                option(value="cv") Cabo Verde
                option(value="kh") Cambodia
                option(value="cm") Cameroon
                option(value="ca") Canada
                option(value="ic") Canary Islands
                option(value="ky") Cayman Islands
                option(value="cf") Central African Republic
                option(value="ea") Ceuta and Melilla
                option(value="td") Chad
                option(value="cl") Chile
                option(value="cn") China
                option(value="cx") Christmas Island
                option(value="cp") Clipperton Island
                option(value="cc") Cocos (Keeling) Islands
                option(value="co") Colombia
                option(value="km") Comoros
                option(value="cg") Congo
                option(value="ck") Cook Islands
                option(value="cr") Costa Rica
                option(value="hr") Croatia
                option(value="cu") Cuba
                option(value="cw") Curaçao
                option(value="cy") Cyprus
                option(value="cz") Czechia
                option(value="ci") Côte d'Ivoire
                option(value="dg") Diego Garcia
                option(value="cd") Democratic Republic of Congo
                option(value="dk") Denmark
                option(value="dj") Djibouti
                option(value="dm") Dominica
                option(value="do") Dominican Republic
                option(value="ec") Ecuador
                option(value="eg") Egypt
                option(value="sv") El Salvador
                option(value="gq") Equatorial Guinea
                option(value="er") Eritrea
                option(value="ee") Estonia
                option(value="sz") Eswatini
                option(value="et") Ethiopia
                option(value="eu") Europe
                option(value="fk") Falkland Islands (Malvinas)
                option(value="fo") Faroe Islands
                option(value="fj") Fiji
                option(value="fi") Finland
                option(value="fr") France
                option(value="gf") French Guiana
                option(value="pf") French Polynesia
                option(value="tf") French Southern Territories
                option(value="ga") Gabon
                option(value="gm") Gambia
                option(value="ge") Georgia
                option(value="de") Germany
                option(value="gh") Ghana
                option(value="gi") Gibraltar
                option(value="gr") Greece
                option(value="gl") Greenland
                option(value="gd") Grenada
                option(value="gp") Guadeloupe
                option(value="gu") Guam
                option(value="gt") Guatemala
                option(value="gg") Guernsey
                option(value="gn") Guinea
                option(value="gw") Guinea-Bissau
                option(value="gy") Guyana
                option(value="ht") Haiti
                option(value="hm") Heard Island and McDonald Islands
                option(value="va") Holy See
                option(value="hn") Honduras
                option(value="hk") Hong Kong
                option(value="hu") Hungary
                option(value="is") Iceland
                option(value="in") India
                option(value="id") Indonesia
                option(value="ir") Iran
                option(value="iq") Iraq
                option(value="ie") Ireland
                option(value="im") Isle of Man
                option(value="il") Israel
                option(value="it") Italy
                option(value="jm") Jamaica
                option(value="jp") Japan
                option(value="je") Jersey
                option(value="jo") Jordan
                option(value="kz") Kazakhstan
                option(value="ke") Kenya
                option(value="ki") Kiribati
                option(value="xk") Kosovo
                option(value="kw") Kuwait
                option(value="kg") Kyrgyzstan
                option(value="la") Laos
                option(value="lv") Latvia
                option(value="lb") Lebanon
                option(value="ls") Lesotho
                option(value="lr") Liberia
                option(value="ly") Libya
                option(value="li") Liechtenstein
                option(value="lt") Lithuania
                option(value="lu") Luxembourg
                option(value="mo") Macao
                option(value="mg") Madagascar
                option(value="mw") Malawi
                option(value="my") Malaysia
                option(value="mv") Maldives
                option(value="ml") Mali
                option(value="mt") Malta
                option(value="mh") Marshall Islands
                option(value="mq") Martinique
                option(value="mr") Mauritania
                option(value="mu") Mauritius
                option(value="yt") Mayotte
                option(value="mx") Mexico
                option(value="fm") Micronesia
                option(value="md") Moldova
                option(value="mc") Monaco
                option(value="mn") Mongolia
                option(value="me") Montenegro
                option(value="ms") Montserrat
                option(value="ma") Morocco
                option(value="mz") Mozambique
                option(value="mm") Myanmar
                option(value="na") Namibia
                option(value="nr") Nauru
                option(value="np") Nepal
                option(value="nl") Netherlands
                option(value="nc") New Caledonia
                option(value="nz") New Zealand
                option(value="ni") Nicaragua
                option(value="ne") Niger
                option(value="ng") Nigeria
                option(value="nu") Niue
                option(value="nf") Norfolk Island
                option(value="kp") North Korea
                option(value="mk") North Macedonia
                option(value="mp") Northern Mariana Islands
                option(value="no") Norway
                option(value="om") Oman
                option(value="pk") Pakistan
                option(value="pw") Palau
                option(value="ps") Palestine
                option(value="pa") Panama
                option(value="pg") Papua New Guinea
                option(value="py") Paraguay
                option(value="pe") Peru
                option(value="ph") Philippines
                option(value="pn") Pitcairn
                option(value="pl") Poland
                option(value="pt") Portugal
                option(value="pr") Puerto Rico
                option(value="qa") Qatar
                option(value="ro") Romania
                option(value="ru") Russian Federation
                option(value="rw") Rwanda
                option(value="re") Réunion
                option(value="bl") Saint Barthélemy
                option(value="sh") Saint Helena, Ascension and Tristan da Cunha
                option(value="kn") Saint Kitts and Nevis
                option(value="lc") Saint Lucia
                option(value="mf") Saint Martin (French part)
                option(value="pm") Saint Pierre and Miquelon
                option(value="vc") Saint Vincent and the Grenadines
                option(value="ws") Samoa
                option(value="sm") San Marino
                option(value="st") Sao Tome and Principe
                option(value="sa") Saudi Arabia
                option(value="sn") Senegal
                option(value="rs") Serbia
                option(value="sc") Seychelles
                option(value="sl") Sierra Leone
                option(value="sg") Singapore
                option(value="sx") Sint Maarten (Dutch part)
                option(value="sk") Slovakia
                option(value="si") Slovenia
                option(value="sb") Solomon Islands
                option(value="so") Somalia
                option(value="za") South Africa
                option(value="kr") South Korea
                option(value="gs") South Georgia and the South Sandwich Islands
                option(value="ss") South Sudan
                option(value="es") Spain
                option(value="lk") Sri Lanka
                option(value="sd") Sudan
                option(value="sr") Suriname
                option(value="sj") Svalbard and Jan Mayen
                option(value="se") Sweden
                option(value="ch") Switzerland
                option(value="sy") Syrian Arab Republic
                option(value="tw") Taiwan
                option(value="tj") Tajikistan
                option(value="tz") Tanzania
                option(value="th") Thailand
                option(value="tl") Timor-Leste
                option(value="tg") Togo
                option(value="tk") Tokelau
                option(value="to") Tonga
                option(value="tt") Trinidad and Tobago
                option(value="ta") Tristan da Cunha
                option(value="tn") Tunisia
                option(value="tr") Turkey
                option(value="tm") Turkmenistan
                option(value="tc") Turks and Caicos Islands
                option(value="tv") Tuvalu
                option(value="ug") Uganda
                option(value="ua") Ukraine
                option(value="ae") United Arab Emirates
                option(value="un") United Nations
                option(value="uy") Uruguay
                option(value="vi") U.S. Virgin Islands
                option(value="uz") Uzbekistan
                option(value="vu") Vanuatu
                option(value="ve") Venezuela
                option(value="vn") Vietnam
                option(value="wf") Wallis and Futuna
                option(value="eh") Western Sahara
                option(value="ye") Yemen
                option(value="zm") Zambia
                option(value="zw") Zimbabwe
                option(value="kidonia") Kidonia
                option(value="pan") Pansexual
                option(value="pride") Pride
                option(value="rc24") RiiConnect24
                option(value="trans") Transgender
            br
            img(src=`/img/flags/${jdata.region}.png` id="flag-img" alt="Flag Preview")
        div(class="form-group")
            label(for="coin" class="text-white") Coin Icon
            br
            select(name="coin" id="coin")
                option(value="animalcrossing") Animal Crossing Bell Bag
                option(value="animalcrossing2") Animal Crossing Bell Coin
                option(value="fortnite") Fortnite V-Bucks
                option(value="mario") Mario Coin (2D)
                option(value="mario2") Mario Coin (3D)
                option(value="mario3") Mario Star Coin
                option(value="money1") Dollar Bill
                option(value="money2") Money Bag
                option(value="reddit") Reddit Silver
                option(value="reddit2") Reddit Gold
                option(value="reddit3") Reddit Platinum
                option(value="shekel") Shekel
                option(value="zelda") Zelda Rupee
            br
            img(src=`/img/coin/${jdata.coin}.png` id="coin-img" alt="Coin Preview")
        div(class="form-group")
            label(for="nickname" class="text-white") Nickname
            br
            input(type="text" name="name" value=jdata.name id="nickname")
        br
        div(class="form-group")
            label(for="wiinumber" class="text-white") Wii Number
            br
            input(type="text" name="wiinumber" value=jdata.friend_code id="wiinumber")
        br
        div(class="form-group")
            label(for="games" class="text-white") Games on Tag (game IDs separated by a semicolon, using a USB Loader allows games to show up automatically)
            br
            input(type="text" name="games" value=jdata.games.join(";") id="games")
        br
        input#keybox(type="password" value=userKey readonly)
        input#keybutton(type="button" onclick="showPassword(\"keybox\", \"keybutton\")" value="Show Key", class="btn btn-primary")
        br
        input(type="submit", value="Submit" class="btn btn-primary")
    script(src="edit.js") 
