doctype html
head
    meta(charset='utf-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0, shrink-to-fit=no')
    title RiiTag
    link(rel='stylesheet' href='/assets/bootstrap/css/bootstrap.min.css')
    link(rel='stylesheet' href='/assets/css/all.css')
    link(rel='stylesheet' href='/assets/css/styles.css')
    link(rel='stylesheet' href='/assets/css/sidebar.css')
    script(src='assets/js/jquery.min.js')
    script(src="/assets/js/divpages.js")
body
    nav.navbar.navbar-light.navbar-expand-md.bg-dark
        .container-fluid
            a.navbar-brand.text-light(href='/')
                img(src="/logo.svg" height="48" style="margin-top: -4px" alt="RiiTag Logo").no-shadow
            button.navbar-toggler(data-toggle='collapse' data-target='#navcol-1')
                span.sr-only Toggle navigation
                span.navbar-toggler-icon
            #navcol-1.collapse.navbar-collapse
                ul.nav.navbar-nav.mr-auto
                    li.nav-item(role='presentation')
                        a.nav-link.text-white-50(href='/') Home
                    li.nav-item
                        a.nav-link.text-white-50(href='/game-leaderboard') Most Played Games
                ul.nav.navbar-nav
                    if !user
                        li.nav-item(role='presentation')
                            a.nav-link.text-white-50(href='/login') Login
                    else
                        li.nav-item.dropdown(role='presentation')
                            a.nav-link.text-white-50(href=`/${user.id}`)
                                h6.mb-0
                                    img(src=`https://cdn.discordapp.com/avatars/${user.id}/${user.avatar}.jpg?size=128` width="32px" height="32px").space-right.rounded.no-shadow
                                    =user.username
                            ul.dropdown-menu
                                li
                                    a.dropdown-item(href=`/${user.id}`) Profile
                                    a.dropdown-item(href="/logout") Logout
                                    if user.admin == true
                                        div.dropdown-divider
                                        a.dropdown-item(href="/admin") Admin Panel                                

    block content
