extends head

block content
    div.big-space-top
        .container
            //- .row
            //-     .col-md-12
            //-         h1.text-white.text-center.big-space-bottom #{tuser.name}
            .row
                .col-md-6
                    if user && tuser.id == user.id
                        h5.text-white Your Tag:
                    else
                        h5.text-white Their Tag:
                    a(href=`/${id}/tag.max.png`) 
                        img(src=`/${id}/tag.max.png` style='width: 100%;').space-bottom.no-shadow

                .col-md-6
                    h5.text-white Information:
                    .card(style='margin-bottom: 10px;')
                        .card-header
                            h5.mb-0 Current Settings
                        .card-body
                            span.text-white
                                strong Display Name: 
                                | #{tuser.name}
                                br
                                strong Background: 
                                | #{tuser.bg.replace("img/1200x450/", "")}
                                br
                                strong Region: 
                                | #{flags[tuser.region]}
                                br
                                strong Friend Code / Comments: 
                                | #{tuser.friend_code}
                                br
                                each overlay in overlays
                                    if tuser.overlay == `overlay${overlay.id}.json`
                                        strong Overlay: 
                                        | #{overlay.name}
                                br
                                if user && tuser.id == user.id
                                    a(href="/edit" type="button" class="btn btn-primary space-top") Edit Your Tag
                                if user && user.admin
                                    a(href=`/admin/refresh/${tuser.id}` type="button" class="btn btn-primary space-top space-left") Refresh User's Tag
                                    //- if tuser.id != user.id
                                    //-     button(type="button" class="btn btn-danger" data-toggle="modal" data-target="#delete-warning-modal") Delete Tag
                                    br
                                if user && tuser.id == user.id
                                    a(href=`/${id}/riitag.wad` type="button" class="btn btn-secondary space-top") Download RiiTag Channel
                                    br
                                    span.text-white 
                                        small See <a href="https://wii.guide/riitag#riitag-channel">this page</a> for information about this channel.
                                    
            .row
                .col-md-6
                    .card
                        .card-header
                            h5.mb-0 Embed
                        .card-body
                            span.text-white
                                strong HTML:
                                br
                                textarea(readonly rows="4" cols="48") <a href="https://tag.rc24.xyz/#{id}"><img src="https://tag.rc24.xyz/#{id}/tag.png" alt="RiiTag" /></a>
                                br
                                strong GBAtemp:
                                br
                                textarea(readonly rows="4" cols="48") [CENTER][URL='https://tag.rc24.xyz/#{id}'][IMG]https://tag.rc24.xyz/click.png[/IMG][/URL][/CENTER]
                                br
                                strong BBCode:
                                br
                                textarea(readonly rows="4" cols="48") [CENTER][URL='https://tag.rc24.xyz/#{id}'][IMG]https://tag.rc24.xyz/#{id}/tag.png[/IMG][/URL][/CENTER]
                                br
                                strong URL:
                                br
                                textarea(readonly rows="1" cols="48") https://tag.rc24.xyz/#{id}/tag.png
                                br
                                | You can replace <tt>tag.png</tt> with <tt>tag.max.png</tt> in the URL to get the largest tag size.
                                | GBAtemp has a different code for the tag because it cannot dynamically update in the signature.
                                br
                                | You can also share your tag with your friends on Discord by using the <tt>!riitag</tt> command using <a href="https://rc24.xyz/services/bot">RiiConnect24 Bot</a>.

  
                .col-md-6
                    .card
                        .card-header
                            h5.mb-0 Stats
                        .card-body
                            span.text-white
                            | #{tuser.name} has 
                            if tuser.coins == 1
                                strong 1 coin
                            else
                                strong #{tuser.coins} coins
                            | . Every time you play a game when you have RiiTag connected to your console, you get a coin!
                            br
    script(src='assets/js/jquery.min.js')
    script(src='assets/bootstrap/js/bootstrap.min.js')
