extends head

block content
    form(method="POST" action="/edit")
        //- textarea(type="text", name="jstring", value=jstring)
        img(src=`https://cdn.discordapp.com/avatars/${jdata.id}/${jdata.avatar}.png?size=256`)
        div(class="form-group")
            label(for="background" class="text-white") Backgrounds
            br
            select(name="background" id="background")
                each bg in backgrounds
                    if jdata.bg == `img/1200x450/${bg}`
                        option(value=`img/1200x450/${bg}` selected=true)= bg
                    else
                        option(value=`img/1200x450/${bg}` selected=false)= bg
            br
            img(src=jdata.bg width="50%" id="background-img" alt="Background Preview")
        br
        div(class="form-group")
            label(for="overlay" class="text-white") Overlays
            br
            select(name="overlay" id="overlay")
                each overlay in overlays
                    if overlay.enabled
                        if jdata.overlay == `overlay${overlay.id}.json`
                            option(value=`overlay${overlay.id}.json` selected=true)= overlay.name
                        else
                            option(value=`overlay${overlay.id}.json` selected=false)= overlay.name
            br
            img(src=`/img/overlays/${jdata.overlay.replace(".json", "")}.png` width="50%" id="overlay-img" alt="Overlay Preview")
        br
        div(class="form-group")
            label(for="flag" class="text-white") Flags
            br
            select(name="flag" id="flag")
                each flag in Object.keys(flags)
                  if jdata.region == flag
                      option(value=flag selected=true)= flags[flag]
                  else
                      option(value=flag selected=false)= flags[flag]
            img(src=`/img/flags/${jdata.region}.png` id="flag-img" alt="Flag Preview")
        div(class="form-group")
            label(for="nickname" class="text-white") Nickname
            br
            input(type="text" name="name" value=jdata.name id="nickname")
        br
        div(class="form-group")
            label(for="wiinumber" class="text-white") Wii Number
            br
            input(type="text" name="wiinumber" value=jdata.friend_code id="wiinumber")
        br
        div(class="form-group")
            label(for="games" class="text-white") Games on Tag (Game IDs separated by a semicolon, using a USB Loader allows games to show up automatically. Get ID from GameTDB, both Wii and Wii U IDs are accepted.)
            br
            input(type="text" name="games" value=jdata.games.join(";") id="games")
        br
        div(class="form-group")
            label(for="covertype" class="text-white") Cover Type
            br
            select(name="covertype" id="covertype")
                each covertype in covertypes
                  if jdata.covertype == covertype
                      option(value=covertype selected=true)= covertype
                  else
                      option(value=covertype selected=false)= covertype
        br
        div(class="form-group")
            label(for="coverregion" class="text-white") Preferred Cover Region (only affects Europe)
            br
            select(name="coverregion" id="coverregion")
                each coverregion in coverregions
                  if jdata.coverregion == coverregion
                      option(value=coverregion selected=true)= coverregion
                  else
                      option(value=coverregion selected=false)= coverregion
        br
        div(class="form-group")
            label(for="useavatar" class="text-white") Use Discord Avatar?
            br
            select(name="useavatar" id="useavatar")
                if jdata.useavatar == "true"
                    option(value="true" selected=true) Yes
                    option(value="false" selected=false) No
                else
                    option(value="true" selected=false) Yes
                    option(value="false" selected=true) No
        br
        input#keybox(type="password" value=userKey readonly)
        input#keybutton(type="button" onclick="showPassword(\"keybox\", \"keybutton\")" value="Show Key", class="btn btn-primary")
        br
        input(type="submit", value="Submit" class="btn btn-primary")
    script(src="edit.js") 
